workflow/claims-user-api.json
{
  "id": "JeenUserAPI1",
  "name": "Albion Mutual — User & Conversations API",
  "active": false,
  "nodes": [
    {
      "parameters": { "httpMethod": "GET", "path": "user-claims", "responseMode": "responseNode", "options": { "allowedOrigins": "*" } },
      "id": "f1000000-0000-0000-0000-000000000001",
      "name": "GET /user-claims",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-300, 0],
      "webhookId": "user-claims-albion"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT claim_ref, to_char(received_at,'YYYY-MM-DD HH24:MI') AS received, claim_type, incident_type, severity, estimated_value, fraud_risk, vulnerable_flag, routing, status, adjuster_decision, next_step, ai_summary FROM jeen.claims WHERE lower(claimant_email) = lower('{{ $json.query.email }}') ORDER BY id DESC LIMIT 100;",
        "options": {}
      },
      "id": "f1000000-0000-0000-0000-000000000002",
      "name": "User Claims",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-40, 0],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "REPLACE_PG_CRED", "name": "NAVADA Postgres" } }
    },
    {
      "parameters": { "respondWith": "allIncomingItems", "options": { "responseHeaders": { "entries": [ { "name": "Access-Control-Allow-Origin", "value": "*" } ] } } },
      "id": "f1000000-0000-0000-0000-000000000003",
      "name": "User Claims Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 0]
    },

    {
      "parameters": { "httpMethod": "GET", "path": "conversations-admin", "responseMode": "responseNode", "options": { "allowedOrigins": "*" } },
      "id": "f1000000-0000-0000-0000-000000000004",
      "name": "GET /conversations-admin",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-300, 240],
      "webhookId": "conversations-admin-albion"
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "typeValidation": "loose" }, "combinator": "and",
          "conditions": [ { "id": "c1", "leftValue": "={{ $json.query.token }}", "rightValue": "REPLACE_ADMIN_TOKEN", "operator": { "type": "string", "operation": "equals" } } ] },
        "options": {}
      },
      "id": "f1000000-0000-0000-0000-000000000005",
      "name": "Auth?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-40, 240]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_id, message_count, claim_ref, to_char(updated_at,'YYYY-MM-DD HH24:MI') AS updated, messages FROM jeen.conversations ORDER BY updated_at DESC LIMIT 100;",
        "options": {}
      },
      "id": "f1000000-0000-0000-0000-000000000006",
      "name": "List Conversations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [220, 160],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "REPLACE_PG_CRED", "name": "NAVADA Postgres" } }
    },
    {
      "parameters": { "respondWith": "allIncomingItems", "options": { "responseHeaders": { "entries": [ { "name": "Access-Control-Allow-Origin", "value": "*" } ] } } },
      "id": "f1000000-0000-0000-0000-000000000007",
      "name": "Conversations Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok:false, error:'Unauthorized' }) }}",
        "options": { "responseCode": 401, "responseHeaders": { "entries": [ { "name": "Access-Control-Allow-Origin", "value": "*" } ] } }
      },
      "id": "f1000000-0000-0000-0000-000000000008",
      "name": "Denied",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 360]
    }
  ],
  "connections": {
    "GET /user-claims": { "main": [[{ "node": "User Claims", "type": "main", "index": 0 }]] },
    "User Claims": { "main": [[{ "node": "User Claims Data", "type": "main", "index": 0 }]] },
    "GET /conversations-admin": { "main": [[{ "node": "Auth?", "type": "main", "index": 0 }]] },
    "Auth?": { "main": [[{ "node": "List Conversations", "type": "main", "index": 0 }], [{ "node": "Denied", "type": "main", "index": 0 }]] },
    "List Conversations": { "main": [[{ "node": "Conversations Data", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
